<div class="bg-gray-50 md:py-14 sm:py-32">
	<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
		<p
			class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight text-indigo-600 sm:text-5xl">
			Rails Boiler Plate</p>

		<div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-1 lg:grid-rows-2">
			<div class="relative lg:row-span-2">
				<div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
				<div
					class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
					<div class="px-8 mb-10 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
						<p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">A small boilerplate</p>
						<p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
							This is just a small Rails boilerplate with the following preinstalled gems
						</p>

						<ul role="list" class="mt-8 space-y-8 text-gray-600">
							<li class="flex gap-x-3">
								<span><strong class="font-semibold text-gray-900">Devise.</strong> Devise is a flexible authentication
									solution for Rails based on Warden</span>
							</li>
							<li class="flex gap-x-3">
								<span><strong class="font-semibold text-gray-900">Tailwind.</strong> Tailwind CSS is a utility-first CSS
									framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build
									any design, directly in your markup.</span>
							</li>
							<li class="flex gap-x-3">
								<span><strong class="font-semibold text-gray-900">Pundit.</strong> Pundit provides a set of helpers
									which guide you in leveraging regular Ruby classes and object oriented design patterns to build a
									straightforward, robust, and scalable authorization system.</span>
							</li>
							<li class="flex gap-x-3">
								<span><strong class="font-semibold text-gray-900">Sidekiq.</strong> Simple, efficient background processing for Ruby.</span>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]">
				</div>
			</div>
		</div>
	</div>
</div>